---
interface Props {
	variant?: 'type' | 'tag' | 'software' | 'active';
}

const { variant = 'tag' } = Astro.props;
//<div class:list={['pill', variant]}>
---

<div class={`pill ${variant}`} data-variant={variant}>
	<slot />
</div>
